* {
    font-family: 'Open Sans', sans-serif;
}

article > header h1 {
    font-size: 110px !important;
    font-weight: 100;
}

a {
    outline: 0;
}

dl {
    text-align: left;
    margin: 65px 0 35px;
    position: relative;
}

dl:after {
    content: "";
    display: table;
    clear: both;
}


figcaption {
    font-size: 14px;
    line-height: normal;
    text-align: center;
}

dd {
    margin: 40px 0 0;
}

dt {
    font-size: 22px;
    margin-bottom: 30px;
    width: 25%;
    float: left;
    clear: right;
}

dt:not(:first-child) {
    margin-top: 40px;
}

dd figure {
    margin-top: -63px;
}

dd:nth-of-type(4) figure:first-of-type {
    margin-bottom: 80px;
}

dd:not(:last-of-type):after {
    clear: both;
    content: "";
    display: block;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.07) 50%, rgba(14,14,14,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.07) 50%,rgba(14,14,14,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.07) 50%,rgba(14,14,14,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000e0e0e',GradientType=1 ); /* IE6-9 */
    height: 2px;
}

dd .description {
    vertical-align: middle;
    float: left;
    width: 30%;
    clear: left;
}

dd .description p {
    margin-top: 0;
    margin-bottom: 20px;
}

dd figure {
    text-align: center;
    vertical-align: middle;
    float: right;
    width: 60%;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;
}

button:focus {outline:0;}

html {
    background: #eaeaea;
}

body {
    background: rgb(214,214,214); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(214,214,214,1) 0%, rgba(234,234,234,1) 50%, rgba(214,214,214,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(214,214,214,1) 0%,rgba(234,234,234,1) 50%,rgba(214,214,214,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(214,214,214,1) 0%,rgba(234,234,234,1) 50%,rgba(214,214,214,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#d6d6d6',GradientType=1 ); /* IE6-9 */
    width: 100%;
    border-radius: 1px;
    margin: 0;
}

body > header {
    background-color: #101010;
    box-sizing: border-box;
    padding: 10px 100px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    border-bottom: 4px #ffffff solid;
    height: 65px;
    z-index: 999;
}

abbr {
    text-decoration: none;
    cursor: help;
}

body > header h1 {
    font-weight: normal;
    margin: 0;
    line-height: 40px;
}

body > header h1 a {
    text-decoration: none;
}


body > header a:first-of-type abbr {
    font-style: normal;
    font-family: bukhari, fantasy;
    color: #9d9d9d;
    cursor: pointer;
    margin-right: 50px;
    font-size: 40px;
    vertical-align: middle;
}

body > header > nav > * {
    display: inline-block;
    line-height: 40px;
    vertical-align: middle;
    text-decoration: none;
    color: #e2e2e2;
}

body > header > nav > *:not(:first-child):hover {
    color: white;
    background: #1d1d1d;
}

body > header > nav > *:not(:first-child) {
    padding: 0 30px;
}

body > header > a {
    border-radius: 28px;
    color: #f3f3f3;
    font-size: 16px;
    background: rgb(176,176,176); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(176,176,176,1) 0%, rgba(129,129,129,1) 36%, rgba(46,46,46,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(176,176,176,1) 0%,rgba(129,129,129,1) 36%,rgba(46,46,46,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(176,176,176,1) 0%,rgba(129,129,129,1) 36%,rgba(46,46,46,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0b0b0', endColorstr='#2e2e2e',GradientType=0 ); /* IE6-9 */
    padding: 9px 20px 9px 20px;
    border: solid #9d9d9d 2px;
    text-shadow: 1px 0 1px #000c;
    text-decoration: none;
}

body > header > a:hover {
    text-decoration: none;
    background: rgb(197,197,197); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(197,197,197,1) 0%, rgba(152,152,152,1) 36%, rgba(71,71,71,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(197,197,197,1) 0%,rgba(152,152,152,1) 36%,rgba(71,71,71,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(197,197,197,1) 0%,rgba(152,152,152,1) 36%,rgba(71,71,71,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5c5c5', endColorstr='#474747',GradientType=0 ); /* IE6-9 */
}

article > section {
    display: flex;
    vertical-align: top;
    text-align: center;
}

article > section figure img {
    max-width: 100%;
}

article > section dl > dd:last-of-type img {
    max-width: 42%;
}

.section-content {
    width: 1050px;
    margin: auto;
}

article > header {
    margin-top: 65px;
    position: relative;
    background: url("/images/time.jpg") no-repeat !important;
    background-size: cover !important;
    height: 750px;
}

article > header .article-heading {
    margin-top: 65px;
    background: rgba(146, 146, 146, 0.5);
    border-top: 1px rgba(255, 255, 255, 0.4) solid;
    border-bottom: 1px rgba(255, 255, 255, 0.4) solid;
}


article > header .article-heading h1 {
    text-shadow: 0 0 4px #EAEAEA;
    color: #0C0C0C;
    font-size: 90px;
    margin-top: 25px;
    margin-bottom: 0;
}

article > header .article-heading p {
    text-shadow: 0 0 5px rgba(234, 234, 234, 0.45);
    font-size: 30px;
    margin-top: 40px;
    color: #0C0C0C;
}

article > header blockquote {
    position: absolute;
    bottom: 85px;
    left: 10%;
    background: rgba(146, 146, 146, 0.33);
    width: 35%;
    border: 1px rgba(255, 255, 255, 0.4) solid;
    color: #dedede;
    transition: background 0.8s ease;
}

article > header blockquote a {
    text-decoration: none;
}

article > header blockquote:hover {
    background: rgba(200, 200, 200, 0.33);
}

article > header blockquote p {
    font-size: 35px;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

article > header blockquote cite, article > header blockquote cite a {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
    color: #dedede;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

article > header img {
    width: 100%;
}

@media (max-width: 520px) {
    body > header > nav > *:not(:first-child) {
        display: none;
    }
}


@media (max-width: 1050px) {
    article > header {
        display: block;
        background: rgb(41,41,4) !important; /* Old browsers */
        background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(41,41,41,1) 50%, rgba(0,0,0,1) 100%) !important; /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(41,41,41,1) 50%,rgba(0,0,0,1) 100%) !important;/* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(41,41,41,1) 50%,rgba(0,0,0,1) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#292929', endColorstr='#292929',GradientType=1 ); !important; /* IE6-9 */
        height: 100%;
    }

    article > header blockquote {
        display: none;
    }

    article > header .article-heading h1 {
        text-shadow: none;
        color: #eaeaea;
    }

    article > header .article-heading p {
        margin-top: 10px;
        text-shadow: none;
        color: #eaeaea;
    }

    .section-content {
        margin-left: 5%;
        margin-right: 5%;
    }


    article > section figure {
        margin-left: 0;
        margin-right: 0;
    }

    .article-heading {
        background: rgb(41,41,4) !important; /* Old browsers */
        background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(41,41,41,1) 50%, rgba(0,0,0,1) 100%) !important; /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(41,41,41,1) 50%,rgba(0,0,0,1) 100%) !important;/* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(41,41,41,1) 50%,rgba(0,0,0,1) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#292929', endColorstr='#292929',GradientType=1 ); !important; /* IE6-9 */
        position: relative !important;
    }

    body > header {
        padding: 10px 20px;
    }

    body > header h1 a abbr {
        margin-right: 20px;
    }

    body > header > nav > *:not(:first-child) {
        padding: 0 15px;
    }

    dl {
        margin-top: 23px;
        margin-bottom: 5px;
    }

    dd {
        margin-top: 0;
    }

    dd:after {
        display: none !important;
    }

    dt {
        margin-top: 0 !important;
        float: none;
        width: 100%;
        text-align: center;
    }

    dd .description {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    article > section p {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    dd figure {
        margin-top: 0 !important;
        float: none;
        width: 100%;
    }

    dd:nth-of-type(4) figure:first-of-type {
        margin-bottom: 30px;
    }
}

article > header img {
    width: 100%;
}

article > section {
    padding: 40px 0;
    position: relative;
}

article > section h2 {
    margin-top: 0;
    margin-bottom: 40px;
}

article > section > span {
    position: absolute;
    top: -65px;
}

article > section img {
    box-shadow: 0 0 20px #121212;
    outline: 2px black solid
}


article > section dl a {
    cursor: zoom-in;
}

article > section p:last-child {
    margin-bottom: 0;
}

article > section p, dl {
    line-height: 35px;
}

article > section:nth-child(even) * {
    color: #292929;
}

article > section:nth-child(even) a {
    color: #292929;
    text-decoration: underline;
    text-decoration-color: rgba(13, 13, 13, 0.40);
}

article > section:nth-child(odd) {
    background: rgb(0,0,0); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(41,41,41,1) 50%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(41,41,41,1) 50%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(41,41,41,1) 50%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
    color: #eaeaea;
}

article > section:nth-child(odd) a {
    color: #eaeaea;
    text-decoration: underline;
    text-decoration-color: rgba(237, 237, 237, 0.40);
}

article > header {
    text-align: center;
}

.article-heading {
    position: absolute;
    width:100%;
    text-align:center;
}

article > section > .section-content > p:not(:last-child) {
    margin-bottom: 40px;
}

p:not(:last-child) {
    margin-bottom: 20px;
}

h1, h2 {
    font-size: 40px;
}


body > footer {
    padding: 5px 0;
    text-align: center;
}

section > p {
    margin-bottom: 50px;
}

h3 {
    margin: 0 0 20px;
    font-size: 30px;
    clear: both;
}

@font-face {
    font-family: bukhari;
    src: url('Bukhari Script.ttf');
}