body {
    margin: 0;
    margin-bottom: 50px;
}

body > header {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    z-index: 9999;
    border-top: rgb(123, 123, 123) 2px solid;
    border-bottom: none;
    padding:10px 10px;
}

body > header > nav{
    width: 100%;
    text-align: center;
}

body > header > nav > *:first-child, body > header > menu{
    display: none;
}

main section {
    /*padding: 0;*/
}

#live-tracking {
    display: block;
    text-align: center;
}

#live-tracking > * {
    display: block;
    text-align: center;
}

#live-tracking > *:first-child {
    width: 100%;
}
#live-tracking > *:nth-child(2) {
    width: 100%;
    margin-bottom: 15px;
}

#live-tracking button {
    width: 250px;
    height: 250px;
    font-size: 45px;
    font-weight: bold;
    border-radius: 99999px;
}

#live-tracking button .fa {
    height: 8px;
    font-size: 40px;
}

.live-stop {
    padding-bottom: 60px;
}

.live-time {
    position: absolute;
    top: 195px;
    width: 150px;
    line-height: 40px;
    text-align: center !important;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    pointer-events:none;
}

.live-activity {
    width: 250px;
}

.live-details {
    text-align: center;
}

#record-list {
    padding: 3px;
}

#record-list header {
    padding: 20px;
}

#record-table {
    padding: 2px;
}

#record-table > * > *:nth-child(1) {
    width: 40%;
}

#record-table > * > *:nth-child(2), #record-table > * > *:nth-child(3) {
    min-width: 80px;
}

#record-table > * > *:nth-child(4) {
    min-width: 30px;
}

#record-table .awesomplete {
    width: 100%;
}

#record-table .fa {
    margin-right: 0;
}

#record-table > * > * {
    padding: 10px 10px !important;
}

.record-add {
    margin-bottom: 15px;
}

main#activities {
    width: 95%;
}

main#activities header {
    display: table;
    border-spacing: 5px;
    border-collapse: separate;
}

main#activities > section {
    padding-left: 5px;
    padding-right: 5px;
}

main#activities header > *:first-child {
    display: table-cell;
    width: 160px;
}

main#activities header > *:nth-child(2) {
    display: table-cell;
    width: 100%;
    float: none;
}

footer {
    display: none;
}

#login {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 100px 50px 50px 50px;
    border: 2px solid black;
    background-color: white;
}

#btn-login, #btn-signup {
    position: relative;
    width: 100%;
}