* {
    font-family: Arial, serif;
}

a {
    text-decoration: none;
    color: black;
}

button:focus {outline:0;}

html {
    background-color: #e9ebee;
}

body {
    background: #e9ebee;
    width: 100%;
    border-radius: 1px;
    margin: 0;
}

h1 {
    font-family: bukhari, fantasy;
    margin: 0;
}

h2 {
    margin: 0 0 15px;
    font-size:24px;
}


h3 {
    margin: 0;
}

h4 {
    font-size: 16px;
    font-weight: bold;
}

mark {
    padding: 0;
}

body > main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

body > header {
    background-color: #101010;
    padding: 10px 100px;
}

body > header nav {
    float: left;
    display: table;
    height: 100%;
    margin-top: 3px;
}

body > header nav > a {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding: 3px 15px;
    color: #9d9d9d;
}

body > header nav > a > h1 {
    cursor: pointer;
}

body > header nav > a.active,
body > header nav > a:hover{
    text-decoration: none;
    color: #fff;
}

body > header menu {
    float: right;
    margin: 10px;
    padding: 0;
    color: #9d9d9d;
}

.clear-float {
    clear: both;
}

button {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    display:inline-block;
    cursor:pointer;
    font-family: Arial, serif;
    font-size:13px;
    padding:6px 10px;
    text-decoration:none;
}

button:active {
    position:relative;
    top:1px;
}
#logout {
    margin-left: 16px;
}

.btn-red, .live-stop {
    -moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
    -webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
    box-shadow:inset 0px 1px 0px 0px #cf866c;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
    background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
    background-color:#d0451b;
    border:1px solid #942911;
    color:#ffffff;
    text-shadow:0px 1px 0px #854629;
}
.btn-red:hover, .live-stop:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
    background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
    background-color:#bc3315;
}

.btn-green, .live-start, .download {
    -moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
    -webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
    box-shadow:inset 0px 1px 0px 0px #9acc85;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
    background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
    background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
    background-color:#74ad5a;
    border:1px solid #3b6e22;
    color:#ffffff;
    font-size: 24px;
}

.btn-green:hover, .live-start:hover, .download:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
    background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
    background-color:#68a54b;
}

.download {
    float: right;
}

#live-tracking button {
    width: 90%;
    font-size: 24px;
}

#live-tracking button .fa{
    font-size: 18px;
    vertical-align: middle;
    height: 4px;
    line-height: 0;
}

.record-add, .new-activity {
    font-size: 18px;
}

.new-activity {
    padding: 5px;
}
.record-add i, .new-activity i{
    font-size: 24px;
    line-height: 0;
    vertical-align: middle;
    height: 2px;
    display: inline-block;
}

.record-add:disabled {
    background: grey;
    border-color: #6e6e6e;
    box-shadow: inset 0px 1px 0px 0px #cccccc;
}


.clear-after:after{
    content: '';
    display: block;
    clear: both;
}


main section {
    padding: 25px;
    border-bottom: 2px black solid;
}

main section:last-of-type {
    border-bottom: none;
}

main#activities {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

main#activities header {
    margin-bottom: 20px;
}

#live-tracking {
    display: table;
    width: 100%;
    box-sizing: border-box;
}

#live-tracking > * {
    display: table-cell;
    text-align: center;
}

#live-tracking > *:first-child {
    width: 34%;
}
#live-tracking > *:nth-child(2) {
    width: 66%;
}

#date-picker {
    position: absolute;
    z-index: 999;
}

.date-picker-trigger, .date-range-picker-trigger, .record-edit-btn, .record-delete-btn {
    cursor: pointer;
}

.date-picker-trigger, .date-range-picker-trigger {
    display: inline;
}

#record-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: 15px;
    margin-top: 10px;
    white-space: nowrap;
}

#record-table .awesomplete {
    width: 100%;
}

#record-table > * > * {
    display: inline-block;
}

#record-table > *:first-child > *{
    text-align: center;
}

#record-table > * > *:first-child {
    width: 40%;
}

#record-table > * > *:nth-child(2), #record-table > * > *:nth-child(3) {
    width: 25%;
}

#record-table > * > *:nth-child(4) {
    width: 10%;
}

#record-table > *:not(:first-child){
    margin-bottom: 5px;
}

#record-table > *:not(:first-child) > * {
    padding: 15px;
    text-align: center;
}

#record-table tr:not(:first-child) {
    height: 60px;
}

#record-table .fa {
    width: 100%;
    cursor: pointer;
    padding-right: 10px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: right;
    color: #00000080;
}

.fa-pencil-square-o{
    vertical-align: sub;
}

.activity-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
}

.activity-list > li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.20);
}

.activity-list > li .activity-menu-btn{
    margin: 10px 0;
    width: 52px;
    height: 100%;
    padding-top: 17px;
    cursor: pointer;
    text-align: center;
}

.activity-list > li .activity-color{
    width: 15px;
    height: 100%;
    display: inline-block;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    margin-right: 7px;
    vertical-align: middle;
    cursor: pointer;
}

.activity-list > li h3 {
    display: inline-block;
    vertical-align: middle;
}

.activity-list > li:not(:last-child){
    margin-bottom: 5px;
}
.dim-click-hide, #ajax-anim {
    z-index: 999;
    position: fixed !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fts_modal {
    padding: 10px 10px 0;
    border-radius: 5px;
    text-align: center;
    background: lightgrey;
    max-width: 350px;
    width: 90%;
}

.fts_modal > * {
    margin-bottom: 10px;
}

.fts_modal > label {
    font-size: 16px;
}

.fts_modal > button {
    font-size: 20px;
}

.fts_modal input {
    padding: 0 40px;
}

#record-context-menu .fa {
    width: 20px;
}

#record-context-menu {
    position: absolute;
    width: 150px;
}

#record-context-menu li > div {
    padding: 11px 6px;
}

#activity-context-menu {
    position: absolute;
    width: 150px;
}

#activity-context-menu li > div {
    padding: 11px 6px;
}

input {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    height: 40px;
    padding: 2px 5px;
    /*border: 1px solid white;*/
    /*background: hsla(0,0%,100%,.95);*/
    /*border-radius: 5px;*/
    /*box-shadow: 1px 2px 5px rgba(0,0,0,.3) inset;*/
}

.activity-filter {
    position: absolute;
    text-align: left;
    left: 0;
    right: 0;
    top: 0;
}

.activity-filter-wrapper {
    display: inline-block;
    width: 350px;
    vertical-align: top;
    float: right;
}

.input-wrapper {
    position: relative;
}

.input-icon + input {
    padding-left: 40px;
}

.input-icon {
    position: absolute;
    top: 13px;
    left: 15px;
    z-index: 1000;
}

.live-details {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: table;
    margin-top: 15px;
    text-align: left;

}

.live-details td:first-child {
    padding-bottom: 10px;
}

.live-details td:nth-child(2) {
    text-align: right;
}

.live-time {
    font-size: 40px;
}

.live-tile {
    animation: live-anim 1s;
    -moz-animation: live-anim 1s infinite; /* Firefox */
    -webkit-animation: live-anim 1s infinite; /* Safari and Chrome */
}

.live-details .awesomplete {
    vertical-align: middle;
    display: inline-block;
}


@-moz-keyframes live-anim {
    50%  {background: #eeeeee;}
}

@-webkit-keyframes live-anim {
    50%  {background: #eeeeee;}
}

.awesomplete {
    display: inline-block;
}

.awesomplete > input {
    display: inline-block;
}

.awesomplete > ul > li {
    padding: 8px 8px;
}

#page-dim {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

input:focus {
    outline: none;
    border: 1px solid #58a;
}

footer {
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    background-color: #e9ebee;
    text-align: center;
    color: #9d9d9d;
}

.helper-popups {
    opacity: 0;
}

@font-face {
    font-family: bukhari;
    src: url('Bukhari Script.ttf');
}

#login {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    padding: 100px 50px 50px 50px;
    border: 2px solid black;
    background-color: white;
}

#login > section {
    border-bottom: 0;
}

main > input {
    background-color: #e9ebee;
}

#btn-login, #btn-signup {
    position: relative;
    width: 160px;
}

#btn-signup {
    margin-top: 50px;
}

.button-wrapper {
    text-align: center;
}

.remember {
    width: inherit;
    box-shadow: none;
    margin: 0 4px 0 0;
    height: inherit;
    vertical-align: middle;
    cursor : pointer;
}

#register-a, #login-a {
    position: absolute;
    right: 0;
    z-index: 1;
    padding: 10px 0 10px 10px;
}

#register-a {
    top: 0;
}

.form-group {
    position: relative;
}

#remember-anaccount {
    padding: 10px 0;
    margin-bottom: 50px;
}

#remember-anaccount label {
    cursor : pointer;
}